In [1]:
import numpy as np
import pandas as pd

In [2]:
label = ['satu','dua','tiga']

In [3]:
angka = [10,20,30]

In [5]:
np_angka = np.array(angka)

In [6]:
np_angka

array([10, 20, 30])

In [8]:
d = {'satu':10, 'dua':20, 'tiga':30}

In [11]:
dataku = pd.Series(data=angka, index=label)

In [12]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [13]:
dataku['dua']

20

In [15]:
np_angka[0]

10

In [16]:
pd.Series(d)

satu    10
dua     20
tiga    30
dtype: int64

In [17]:
pd.Series(np_angka)

0    10
1    20
2    30
dtype: int32

In [18]:
pd.Series(angka)

0    10
1    20
2    30
dtype: int64

In [19]:
# perbedaan int 64 sama 32 sama aja cuman int64 bisa nampung lebih banyak data

In [34]:
dataku

       0
satu  10
dua   20
tiga  30

In [35]:
d2 = {'satu':10, 'dua':20, 'tiga':30, 'empat':40, 'lima':50}

In [36]:
dataku = pd.Series(d)

In [37]:
dataku2 = pd.Series(d2)

In [38]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [39]:
dataku2

satu     10
dua      20
tiga     30
empat    40
lima     50
dtype: int64

In [40]:
dataku + dataku2

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64

In [41]:
# jadi nan karna cuman ada di daataku2 aja, kalo ada di dua duanya bakal ditambah

In [42]:
# data berubah jadi float karna ada koma